.header {
    /* background-color: #cb9a2f; */
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 5px;
}

.header .logo {
    width: 20%;
    height: 20%;
    margin: 0px 45px ;
}

.header .menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0px 70px;
}

.header nav li a {
    font-weight: bold;
    font-size: 19px;
    color: #fff;
    padding: 5px 30px;
    border-radius: 30px;
    transition: 0.3s;
}

.header nav li a:hover {
    background-color: #ba589b;
}